$bubble-d: 2.5rem;
$bubble-r: $bubble-d / 2;

@keyframes heart { 0%, 17.5% { font-size: 0; } }
@keyframes bubble {
  15% {
    border-color: #cc8ef5;
    border-width: $bubble-r;
    transform: scale(1);
  }
  30%, 100% {
    border-color: #cc8ef5;
    border-width: 0;
    transform: scale(1);
  }
}

.like-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  color: $danger;
  cursor: pointer;
  font-family: Eva-Icons;
  font-size: 2em;

  // Heart outline
  &::before {
    content: '\eaf7';
  }

  // Heart filled
  &[liked]::before {
    content: '\eaf6';
  }

  // Bubble
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    width: $bubble-d;
    height: $bubble-d;
    margin: -$bubble-r;

    border: solid $bubble-r #e2264d;
    border-radius: 50%;
    box-sizing: border-box;

    transform: scale(0);
  }

  &.animate {
    &::before {
      will-change: font-size;
      animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
    }

    &::after {
      will-change: transform, border-color, border-width;
      animation: bubble 1s cubic-bezier(.21, .61, .35, 1);
    }
  }
}

.like-button-fallback {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  color: $danger;
}