.post {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  position: relative;
  margin-bottom: 0;
  padding: 3rem 0;
  border-bottom: 1px solid $gray-300;
  align-items: center;

  &-link {
    position: absolute;
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    left: 0;
    z-index: 1;

    &:hover ~ .post-details h2 {
      color: $link-hover-color;
    }
  }

  &-wrapper {
    display: flex;
    width: 100%;
    text-decoration: none !important;
    color: $body-color;
  }

  &-details {
    position: relative;
    width: 100%;
    min-width: 350px;
    padding-right: 3rem;
    flex: 1;
  }

  &-description {
    color: $secondary;
  }

  &-photo {
    border-radius: 1rem;
  }

  .like-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

