{% extends 'base.html.twig' %}

{% block body %}
  {% include 'layout/header.html.twig' %}
  <div class="page-content">
    {% block content %}
      <div class="container">
        {% block inner %}{%endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}