{% extends '/layout.html.twig' %}

{% block title %}Přidat nové místo{% endblock %}

{% block inner %}
    <div class="add-post">
        <h1>Přidat nové místo</h1>

        {{ include('post/_form.html.twig') }}

        <p class="required-fields">Pole označená <span class="asterisk">*</span> jsou povinná</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('add') }}
{% endblock %}
