{% extends '/layout.html.twig' %}

{% block inner %}
  <div class="error-page">
    <h1 class="error-title">500</h1>
    <p class="error-message">Omlouváme se, došlo k chybě na straně serveru</p>
  </div>
{% endblock %}